<div class='modal-body'>
  <div>
    <p>This app was created by <a href="https://github.com/rmoshier" target="_blank">Rachel Adler</a> as her capstone project for the <a href="http://adadevelopersacademy.org" target="_blank">Ada Developers Academy</a>.</p>
  </div>
  <div>
    <p>Explanation of how to use app. Sign up on Rdio and create a playlist.</p>
  </div>
  <div>
    <p>Rdio Karaoke is powered by Rdio and MusixMatch.</p>
  </div>
</div>
