<div class='modal-header'>
 <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>x</button>
 <div class='modal-title'><h2><b><center>About Rdio Karaoke</center></b></h2></div>
</div>

<div class='modal-body'>
  <div>
    <p>This app was created by <a href="https://github.com/rmoshier"target="_blank">Rachel Adler</a> as her capstone project for the <a href="http://adadevelopersacademy.org" target="_blank">Ada Developers Academy</a>.</p>
  </div>
  <div>
    <p>To use this app, sign-in to Rdio using the link above, or sign-up for Rdio using the link below if you are not currently a member. Once you are signed in, create a playlist and then add the karaoke songs you want to the playlist.</p>
  </div>
  <div>
    <p>Rdio Karaoke is powered by <a href="http://rdio.com" target="_blank">Rdio</a> and <a href="http://musixmatch.com" target=_"blank">MusixMatch</a>.</p>
    <div id="photos">
      <%= (image_tag "rdio-logo.png", size: "1X10") %>
      <%= (image_tag "mm.jpg", size: "1X10") %>
    </div>
  </div>
  <div>
    <p>Thank you to all of my friends, TAs, and instructors at Ada who helped me with this app, as well as Varun from MusixMatch!</p>
  </div>
</div>
