/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html body {
  font-family: 'Open Sans', sans-serif;
}

html body .box {
  background-color: white;
  border: 10px, solid, black;
  border: none;
  box-shadow: none;
}

html body .outline-box {
  background-color: blue;
}

.img-circle {
  margin: 10px;
}

html body .img {
  float: right;
}

#filler {
  color: #c3c3c3;
}

.wtf {
  text-align: center;
}

.artistAlbumInfo {
  margin-top: 10px;
}

/*html body #lyrics {
  color: black;
  size: 50px;
}*/

/*#splash {*/
  /*background-image: url("/images/japan.jpg");*/
  /*text-align: center;*/
  /*height: 1000px;*/
  /*background-image: url("japan.png");*/
  /*background-size: cover;*/
  /*background-attachment: fixed;*/
  /*background-repeat: no-repeat;*/
  /*background-color: grey;*/
/*}*/
