<!-- <div id="splash" class="container"> -->
  <div class="row image">
    <!-- <div> -->
      <%= (image_tag "scarlett.png", :id => "splash-picture")%>
      <h1 class="rdio-splash-1">Rdio</h1>
      <h1 class="rdio-splash-2">Karaoke</h1>
    <!-- </div> -->
  </div>
<!-- </div> -->
