<div id="splash" class="container-fluid">
  <!-- <div id="upsell" class="alert alert-info alert-dismissable">
    <div id="subscriber">You are an Rdio subscriber. You're awesome.</div>
    <div id="trial">You are an Rdio trial user, Subscribe now!</div>
    <div id="free">You are an Rdio Free user with <span id="remaining"></span>% of your quota remaining, subscribe now!</div>
    <div id="nobody">To hear full tracks subscribe to Rdio.</div>
  </div> -->
</div>
