<div class="container-fluid">

  <div class="text-center">
    <h1><span id="lyrics"></span></h1>
  </div>

  <div class="box" id="apiswf"></div>

    <div class="row">
      <!-- <div class="col-md-4" style="center"> -->
      <div class="col-md-6 col-md-offset-4" style="center">
        <div class="playControls btn-group">
          <button id="play" class="btn btn-default"><i class="fa fa-play-circle"></i> Play</button>
          <button id="stop" class="btn btn-default"><i class="fa fa-stop"></i> Stop</button>
          <button id="pause" class="btn btn-default"><i class="fa fa-pause"></i> Pause</button>
          <button id="previous" class="btn btn-default"><i class="fa fa-step-backward"></i> Previous</button>
          <button id="next" class="btn btn-default"><i class="fa fa-step-forward"></i> Next</button>
        </div>
      </div>
    </div>

      <div class="row" style="overflow: hidden;">

        <div style="margin-bottom: 10px;">
          <% if current_user %>
            <!-- <div class="col-md-2">Enter Album Key</div> -->
            <div>
              <input id="play_key" class="form-control" value="<%=@key%>" type="hidden">
              <!-- or we could do something called data attribute here -->
            </div>
          <% end %>
          <!-- <input id="play_key" class="form-control" value="p12674528"> -->
          <!-- <input id="play_key" class="form-control" value="a239851"> -->
        </div>

      </div>

      <div class="wtf" style="center">

            <h5>Artist: <span id="artist"></span></h5>
            <h5>Track: <span id="track"></span></h5>
            <h5>Album: <span id="album"></span></h5>
            <h5>Position: <span id="position"></span></h5>
          <!-- <h4>Playstate <p id="playState"></p></h4> -->

      </div>

      <div class="wtf" style="overflow: hidden;">

        <div class="artistAlbumInfo"  style="center">
          <img src="" id="art" class="albumArt">
        </div>

      </div>

    </div>

    <!-- <div id="upsell" class="alert alert-info alert-dismissable">
      <div id="subscriber">You are an Rdio subscriber. You're awesome.</div>
      <div id="trial">You are an Rdio trial user, Subscribe now!</div>
      <div id="free">You are an Rdio Free user with <span id="remaining"></span>% of your quota remaining, subscribe now!</div>
      <div id="nobody">To hear full tracks subscribe to Rdio.</div>
    </div> -->

          <!-- <p><span id="artist"></span> - <span id="track"></span></p> -->
      <!-- <div class="col-md-12">
        <div id="freq" class="frequency">
          <div class="band"></div>
          <div class="band"></div>
          <div class="band"></div>
          <div class="band"></div>
          <div class="band"></div>
          <div class="band"></div>
          <div class="band"></div>
          <div class="band"></div>
          <div class="band"></div>
          <div class="band"></div>
        </div>
      </div> -->
</div>
